.game-icon{
    font-size: 35px;
    color: grey;
}

.game-p{
    padding: 1em 1.5em;
}

.game-wrap-border{
    justify-content: center;
    width: 100%;
    align-items: center;
    padding: 1em 1.5em;
    border-bottom: 1px solid #e1e1e1;
}

.ownListGroup{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12)
}